In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('datafiles/ex2.csv')

In [4]:
df.tail()

          x0        x1        x2        x3  target
95 -0.988204  0.934396  0.131865 -0.158939       1
96 -2.057470  2.869821 -0.887651 -0.741163       1
97 -1.669722  2.168812 -0.018603  0.607099       1
98 -1.011851  0.973641 -0.474993 -0.509644       1
99 -1.578463  2.076695  0.200962  2.533324       1

In [5]:
df.head()

         x0        x1        x2        x3  target
0 -1.244674  1.452124 -1.184385 -0.839169       1
1 -1.662920 -0.375804 -0.956673  0.380114       0
2 -1.926513       NaN -1.203904 -0.728801       1
3 -1.455014 -0.472972  0.500495 -0.809670       0
4 -1.255422  1.348182  0.827424 -0.334090       1

In [7]:
df['target'].value_counts()

1    80
0    20
Name: target, dtype: int64

In [8]:
df.isnull().any(axis=0)

x0        False
x1         True
x2         True
x3        False
target    False
dtype: bool

In [10]:
df.isnull().sum()

x0        0
x1        1
x2        1
x3        0
target    0
dtype: int64

In [11]:
colmed = df.median()

In [12]:
colmed

x0       -1.003455
x1        0.792104
x2       -0.115399
x3        0.081021
target    1.000000
dtype: float64

In [13]:
df2 = df.fillna(colmed)

In [14]:
df2

          x0        x1        x2        x3  target
0  -1.244674  1.452124 -1.184385 -0.839169       1
1  -1.662920 -0.375804 -0.956673  0.380114       0
2  -1.926513  0.792104 -1.203904 -0.728801       1
3  -1.455014 -0.472972  0.500495 -0.809670       0
4  -1.255422  1.348182  0.827424 -0.334090       1
..       ...       ...       ...       ...     ...
95 -0.988204  0.934396  0.131865 -0.158939       1
96 -2.057470  2.869821 -0.887651 -0.741163       1
97 -1.669722  2.168812 -0.018603  0.607099       1
98 -1.011851  0.973641 -0.474993 -0.509644       1
99 -1.578463  2.076695  0.200962  2.533324       1

[100 rows x 5 columns]

In [16]:
df2.isnull().any(axis=0)

x0        False
x1        False
x2        False
x3        False
target    False
dtype: bool

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
tmp = ['x0','x1','x2','x3']

In [19]:
x = df2[tmp]

In [20]:
x

          x0        x1        x2        x3
0  -1.244674  1.452124 -1.184385 -0.839169
1  -1.662920 -0.375804 -0.956673  0.380114
2  -1.926513  0.792104 -1.203904 -0.728801
3  -1.455014 -0.472972  0.500495 -0.809670
4  -1.255422  1.348182  0.827424 -0.334090
..       ...       ...       ...       ...
95 -0.988204  0.934396  0.131865 -0.158939
96 -2.057470  2.869821 -0.887651 -0.741163
97 -1.669722  2.168812 -0.018603  0.607099
98 -1.011851  0.973641 -0.474993 -0.509644
99 -1.578463  2.076695  0.200962  2.533324

[100 rows x 4 columns]

In [21]:
t = df2['target']

In [22]:
x_train,x_test,y_train,y_test = train_test_split(x,t,test_size=0.3, random_state=0)

In [23]:
from sklearn import tree

In [24]:
model = tree.DecisionTreeClassifier(max_depth=3,random_state=0)

In [25]:
model.fit(x_train,y_train)

DecisionTreeClassifier(max_depth=3, random_state=0)

In [26]:
model.score(x_test,y_test)

0.9666666666666667

In [31]:
data = [[1.56,0.23,-1.1,-2.8]]

In [32]:
model.predict(data)

C:\JupyterLab\resources\jlab_server\lib\site-packages\sklearn\base.py:445: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)