In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
%matplotlib inline

In [4]:
df = pd.read_csv('datafiles/Survived.csv')

In [7]:
df.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
#欠損値を埋める
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [10]:
#TorFの一次ベクトル
is_null = df['Age'].isnull()
df.loc[(df['Pclass'] == 1) & (df['Survived'] == 0) & (is_null),'Age'] = 40
df.loc[(df['Pclass'] == 1) & (df['Survived'] == 1) & (is_null),'Age'] = 34
df.loc[(df['Pclass'] == 2) & (df['Survived'] == 0) & (is_null),'Age'] = 33
df.loc[(df['Pclass'] == 2) & (df['Survived'] == 1) & (is_null),'Age'] = 26
df.loc[(df['Pclass'] == 3) & (df['Survived'] == 0) & (is_null),'Age'] = 27
df.loc[(df['Pclass'] == 3) & (df['Survived'] == 1) & (is_null),'Age'] = 23

In [11]:
#特徴量の列を抽出
col = ['Pclass','Age','SibSp','Parch','Fare']

In [12]:
x = df[col]

In [13]:
t = df['Survived']

In [14]:
#sex列をダミー変数化
dummy = pd.get_dummies(df['Sex'], drop_first = True)

In [16]:
x = pd.concat([x,dummy],axis=1)

In [18]:
x.head()

   Pclass   Age  SibSp  Parch     Fare  male
0       3  22.0      1      0   7.2500     1
1       1  38.0      1      0  71.2833     0
2       3  26.0      0      0   7.9250     0
3       1  35.0      1      0  53.1000     0
4       3  35.0      0      0   8.0500     1

In [19]:
#モデルの生成
from sklearn.ensemble import RandomForestClassifier

In [20]:
x_train,x_test,y_train,y_test = train_test_split(x,t,test_size=0.2,random_state=0)

In [22]:
model = RandomForestClassifier(n_estimators = 200) #木の数を200に指定

In [24]:
model.fit(x_train,y_train)

RandomForestClassifier(n_estimators=200)

In [25]:
model.score(x_test,y_test)

0.8324022346368715

In [26]:
model.score(x_train,y_train)

0.9887640449438202

In [28]:
#特徴量の重要度を確認
importance = model.feature_importances_

In [31]:
pd.Series(importance,index = x_train.columns).sort_values(ascendi)

Parch     0.035643
SibSp     0.051232
Pclass    0.080814
male      0.250324
Fare      0.281398
Age       0.300589
dtype: float64