In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
%matplotlib inline
df = pd.read_csv('datafiles/Survived.csv')
df.head()
df.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
#TorFの一次ベクトル
is_null = df['Age'].isnull()
df.loc[(df['Pclass'] == 1) & (df['Survived'] == 0) & (is_null),'Age'] = 40
df.loc[(df['Pclass'] == 1) & (df['Survived'] == 1) & (is_null),'Age'] = 34
df.loc[(df['Pclass'] == 2) & (df['Survived'] == 0) & (is_null),'Age'] = 33
df.loc[(df['Pclass'] == 2) & (df['Survived'] == 1) & (is_null),'Age'] = 26
df.loc[(df['Pclass'] == 3) & (df['Survived'] == 0) & (is_null),'Age'] = 27
df.loc[(df['Pclass'] == 3) & (df['Survived'] == 1) & (is_null),'Age'] = 23

#特徴量の列を抽出
col = ['Pclass','Age','SibSp','Parch','Fare']
x = df[col]
x = df[col]
t = df['Survived']
t = df['Survived']
#sex列をダミー変数化
dummy = pd.get_dummies(df['Sex'], drop_first = True)
x = pd.concat([x,dummy],axis=1)

In [10]:
#アダブーストのモデルを生成
from sklearn.ensemble import AdaBoostClassifier
#ベースとなるモデル
from sklearn.tree import DecisionTreeClassifier #決定木を複数作成してアンサンブル

In [11]:
x_train,x_test,y_train,y_test = train_test_split(x,t,test_size=0.2,random_state = 0)

In [12]:
base_model = DecisionTreeClassifier(random_state = 0,max_depth = 5)

In [14]:
model = AdaBoostClassifier(n_estimators = 500, random_state = 0, base_estimator = base_model)

In [15]:
model.fit(x_train,y_train)

AdaBoostClassifier(base_estimator=DecisionTreeClassifier(max_depth=5,
                                                         random_state=0),
                   n_estimators=500, random_state=0)

In [16]:
model.score(x_test,y_test)

0.7932960893854749